<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre - Register</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>

            <section class="up-section">
                <div class="up-section__img">
                    <a href="/">
                        <img src="/images/logo-mercado-liebre.svg" alt="">
                    </a>
                </div>

                <form class="up-section__search" action="#">
                    <input  type="text" placeholder="Artículos o productos a un click">
                    <button type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                
                <p class="up-section__text">Compra en cuotas y sin tarjeta de crédito</p>
            
            </section>

            <section class="down-section">
                <nav>
                    <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                    <ul>
                        <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="/login#username">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </nav>

                <div class="hamburguer-menu">
                    <i class="fa fa-bars burger"></i>
                </div>

            </section>
        </header>

        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>

        <main>
            
        </main>

        <footer>
            <section class="footer-section">

              <article class="footer-item">
                <i class="fas fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>
                  Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o en efectivo en puntos de pago.¡Y siempre es
                  seguro!
                </p>
              </article>

              <article class="footer-item">
                <i class="fas fa-gift"></i>
                <h2>Envío gratis desde los $ 2.500</h2>
                <p>
                  Solo por estar registrado en Mercado Liebre tenés envíos gratis en miiles de productos. Es un beneficio de
                  Mercado Puntos.
                </p>
              </article>

              <article class="footer-item">
                <i class="fas fa-user-shield"></i>
                <h2>Seguridad de principio a fin</h2>
                <p>
                  ¿No te gusta?¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@
                </p>
              </article>
            </section>

            <section class="footer-copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
          </footer>
        
    </body>
</html>